{% extends 'ShopBundle:Default:index.html.twig' %}

{% block title %}Менеджер{% endblock %}

{% block body %}
    <div class="container jumbotron border border-success ">
        <div class="container ">
            <div class="row">
                <div class="col-sm-4">
                    <div class="container">
                        {{ form(form_add_product, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-sm-4">
                    {% if is_granted('ROLE_ADMIN') %}

                        {% for flashMessage in app.session.flashbag.get('user_role') %}
                            <div class="alert alert-primary">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                        <form
                                class="navbar-form"
                                method="get"
                                action="{{ path("user_role", {'search': app.request.query.get('search'), 'role': app.request.query.get('role') }) }}"
                                role="search">
                            <div class="input-group">
                                <input type="search" class="form-control" placeholder="Введите логин пользователя"
                                       name="search"
                                       id="search" required>
                                <div class="input-group-btn">
                                    <button class="btn btn-success" type="submit"><i
                                                class="glyphicon glyphicon-search"></i>Присвоить права
                                    </button>
                                </div>
                            </div>
                            <select class="form-control" name="role" id="role" required>
                                <option value="ROLE_USER">Покупатель</option>
                                <option value="ROLE_MANAGER">Менеджер</option>
                                <option value="ROLE_ADMIN">Админ</option>
                            </select>
                        </form>
                    {% endif %}
                    <br>
                    {% for flashMessage in app.session.flashbag.get('order_status') %}
                        <div class="alert alert-primary">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                    <form
                            class="navbar-form"
                            method="get"
                            action="{{ path("order_status", {'order': app.request.query.get('order'), 'status': app.request.query.get('status') }) }}"
                            role="search">
                        <div class="input-group">
                            <input type="search" class="form-control" placeholder="Введите номер заказа" name="order"
                                   id="search" required>
                            <div class="input-group-btn">
                                <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-search"></i>Изменить
                                    статус
                                </button>
                            </div>
                        </div>
                        <select class="form-control" name="status" id="status" required>
                            <option value="1">В обработке</option>
                            <option value="2">Выполняется</option>
                            <option value="3">Выполнен</option>
                            <option value="4">Возврат</option>
                        </select>
                    </form>
                    <br>

                </div>
                <div class="col-sm-4">


                    <div class="card border-success mb-3" style="max-width: 20rem;">
                        <div class="card-header">Привоз товара</div>
                        <div class="card-body text-success">
                            <h4 class="card-title">Выберете .XLS файл</h4>
                            <p class="card-text">
                            <form
                                    enctype="multipart/form-data"
                                    class="navbar-form"
                                    method="post"

                                    action="{{ path("admin_home", {'order': app.request.query.get('order'), 'status': app.request.query.get('status') }) }}">
                                <div class="form-group">
                                    <input type="file" class="form-control-file" id="exampleFormControlFile1" name="file">
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Продукт" name="name">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Цена" name="kol">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Результат" name="resultat">
                                    </div>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="result" id="site" value="1"
                                               checked>
                                        Просмотр результатов на сайте
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="result" id="xls" value="2">
                                        Вывести результат в XLS файл
                                    </label>
                                </div>
                                {#<div class="form-check">#}
                                    {#<label class="form-check-label">#}
                                        {#<input class="form-check-input" type="radio" name="result" id="pdf" value="3">#}
                                        {#Вывести результат в PDF файл#}
                                    {#</label>#}
                                {#</div>#}

                                <button type="submit" class="btn btn-success">Отправить</button>
                            </form>
                            </p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

{% endblock %}