<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset=utf-8"/>
    <title>{% block title %}Rambutan{% endblock %} - online shop</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block stylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
        <script
                src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
                integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
                integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
              integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
              crossorigin="anonymous">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css">

    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>

</head>
<body>

<section id="wrapper">
    <header id="header">
        <nav class="navbar navbar-expand-lg navbar-custom  fixed-top">
            <img class="rounded"
                 src="{{ asset(['img/logo.png']|join) }}" width="40" height="40">
            <a class="navbar-brand" href="{{ path('shop_homepage') }}">Rambutan</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse  justify-content-end" id="navbarSupportedContent">
                <ul class="nav navbar-nav pull-right">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('shop_room') }}">
                                <img class="icons"
                                        {% if is_granted('ROLE_MANAGER') %}
                                     src="{{ asset('img/icons/profile2.svg') }}"
                                     {% elseif  is_granted('ROLE_USER') %}
                                         src="{{ asset('img/icons/profile1.svg') }}"
                                        {% endif %}
                                     alt="Личный кабинет"
                                     width="30" height="30">
                            </a>
                        </li>
                        {% if is_granted('ROLE_MANAGER') %}
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('shop_add') }}">
                                    <img class="icons"
                                         src="{{ asset('img/icons/new.svg') }}"
                                         alt="Добавить продукт"
                                         width="30" height="30"></a>
                            </li>
                        {% endif %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('chat_room') }}">

                                <img class="icons"
                                     src="{{ asset('img/icons/chat.svg') }}"
                                     alt="Чат менеджеров"
                                     width="30" height="30"></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('_security_logout') }}">
                                <img class="icons"
                                     src="{{ asset('img/icons/exit.svg') }}"
                                     alt="Выход"
                                     width="30" height="30"></a>
                        </li>
                    {% else %}
                        <li class="nav-item active"><a class="nav-link" href="{{ path('shop_login') }}">
                                <img class="icons"
                                     src="{{ asset('img/icons/login.svg') }}"
                                     alt="Регистрация"
                                     width="30" height="30"></a></li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('shop_about') }}">
                            <img class="icons"
                                 src="{{ asset('img/icons/viral-marketing.svg') }}"
                                 alt="О компании"
                                 width="30" height="30"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="{{ path('shop_cart') }}">
                            <img class="icons"
                                 src="{{ asset('img/icons/cart.svg') }}"
                                 alt="Корзина"
                                 width="30" height="30"></a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0"
                      method="get"
                      action="{{ path("shop_search", {'search': app.request.query.get('search')}) }}"
                      role="search">
                    <input class="form-control mr-sm-2" type="text" name="search" placeholder="Яблоки" aria-label="Search">
                    <button class="btn btn-success my-2 my-sm-0" type="submit">Поиск</button>
                </form>
            </div>
        </nav>
    </header>


    {% block navigation %}{% endblock %}

    {% block body %}{% endblock %}

    {{ include('ShopBundle:Default:footer.html.twig') }}


</section>
<script src="{{ asset('scripts/js/add_cart.js') }}"></script>
<script src="{{ asset('scripts/js/del_cart.js') }}"></script>
<script src="{{ asset('scripts/js/like.js') }}"></script>
</body>
