{% extends 'ShopBundle:Default:index.html.twig' %}

{% block navigation %}
    <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('shop_homepage') }}">Главная <span class="sr-only">(current)</span></a>
                </li>

                {% for sort in sort %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('shop_sort', {id: sort.id}) }}">{{ sort.name }}</a>
                    </li>
                {% endfor %}


            </ul>
        </nav>

        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
            {% if (sortname=="Продукты") %}
                <h1>Продукты</h1>
            {% else %}
                <h1>{{ sortname.name }}</h1>
            {% endif %}

            {% if (product!=NULL) %}
                <div class="container marketing">

                    <div class="row">
                        {% for product in product %}
                            <div class="col-lg-4">
                                <p>
                                    <a href="{{ path('shop_product', {id: product.id}) }}">
                                        <img class="rounded"
                                             src="{{ asset(['img/products/', product.path]|join) }}"
                                             alt="Generic placeholder image" width="140" height="140">
                                    </a>
                                </p>
                                <h2>{{ product.name }}.</h2>
                                <p>Цена: {{ product.shopPrice }} руб.</p>
                                <p><a class="btn btn-secondary"
                                      data-id="{{ product.id }}"
                                      data-price="{{ product.shopPrice }}"
                                      data-url="{{ path('add_cart') }}"
                                      role="button">Купить</a></p>
                            </div>


                        {% endfor %}
                    </div>
                    <hr class="featurette-divider">
                </div>
            {% else %}
                Продуктов из данной категории нет на складе!
            {% endif %}
            <script src="{{ asset('scripts/js/add_cart.js') }}"></script>
        </main>
    </div>
{% endblock %}