{% extends 'ShopBundle:Default:index.html.twig' %}

{% block title %}Чат{% endblock %}

{% block body %}

    <div class="container jumbotron border border-success ">
        <div class="container">
            <h2 class="display-5">
                Добро пожаловать в чат, {{ app.user.username }}!
            </h2>
            {% if is_granted('ROLE_MANAGER') %}
                <div class="row">
                    <div class="col">
                        <h4>Рабочие чаты:</h4>
                        {% for chatroom in chatroom_manager %}
                            {% if chatroom.name == 'ВКонтакте' %}
                                <input class="btn btn-lg btn-primary btn-outline-primary btn-block" type="button"
                                       value="{{ chatroom.name }}"
                                       onClick='location.href="http://rambutan.ml/admin/chatVK"'>
                            {% else %}
                                <input class="btn btn-lg btn-success btn-outline-success btn-block" type="button"
                                       value="{{ chatroom.name }}"
                                       onClick='location.href="http://rambutan.ml/chatroom/{{ chatroom.idRoom }}"'>
                                {#onClick='location.href="{{ path('shop_chat', { 'id': chatroom.idRoom }) }}"'>#}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col">
                        <h4>Пользовательские чаты:</h4>
                        {% for chatroom in chatroom_user %}
                            <input class="btn btn-lg btn-success btn-outline-success btn-block" type="button"
                                   value="{{ chatroom.name }}"
                                   onClick='location.href="http://rambutan.ml/chatroom/{{ chatroom.idRoom }}"'>
                        {% endfor %}
                    </div>
                </div>


            {% else %}
                <p>ВСКОРЕ ВЫ СМОЖЕТЕ СОЗДАВАТЬ ЧАТЫ</p>

                <input class="btn btn-lg btn-success btn-outline-success btn-block" type="button"
                       value="Свяжитесь с нами."
                       onClick='location.href="{{ path('shop_chat', { 'id': path.idRoom }) }}"'>
            {% endif %}


        </div>

    </div>

{% endblock %}